@font-face {
  font-family: regular;
  src: url(/assets//fonts/Inter_28pt-Regular.ttf);
}
@font-face {
  font-family: extrabold;
  src: url(/assets/fonts/Inter_24pt-Bold.ttf);
}
html {
  scrollbar-width: none;
}

body {
  padding: 0;
  margin: 0;
}

.top-nav-bar {
  box-sizing: border-box;
  background-color: #163651;
  height: 2.5rem;
  padding: 0.5rem 1.25rem;
}

.info-container {
  display: none;
}

.icons-container {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.main-nav {
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.main-nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: regular;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  scrollbar-width: none;
  gap: 1.5rem;
  overflow-x: scroll;
  white-space: nowrap;
}
.main-nav-list li {
  animation: autoscroll 5s linear 1;
}

.intro-section {
  position: relative;
}

.image-container img {
  position: absolute;
  width: 100vw;
  height: 100%;
}

.content-container {
  padding: 0.75rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text-container {
  position: relative;
  animation: rise 2s linear 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text-container h1 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  color: #FFFFFF;
  font-family: extrabold;
  font-weight: 500;
}
.text-container span {
  font-family: regular;
  color: #FFFFFF;
  font-size: 0.875rem;
  margin: 0.5rem 0;
}
.text-container button {
  background-color: #40A5A2;
  padding: 0.625rem 1.5rem;
  border: none;
  border-radius: 1.5rem;
  font-size: 0.875rem;
  font-family: extrabold;
  color: #FFFFFF;
}

.form-container {
  background-color: #FFFFFF;
  padding: 1rem;
  position: relative;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: regular;
  animation: rise 2s linear 1;
}
.form-container h2 {
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
  text-align: center;
}
.form-container div {
  display: flex;
  flex-direction: column;
}
.form-container div label {
  font-size: 0.625rem;
}
.form-container div input {
  padding: 0.5rem;
  border: 1px solid #c4c4c4;
  border-radius: 1.25rem;
}
.form-container button {
  background-color: #02274C;
  border: none;
  border-radius: 1.5rem;
  width: 6.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tick-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.tick-container span {
  font-size: 0.875rem;
}
.tick-container a {
  color: #40A5A2;
}

.service-section {
  background-color: #F0F9F9;
  padding: 0.75rem 1.25rem;
}
.service-section .service-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.inner-container {
  display: flex;
  flex-direction: column;
}
.inner-container div {
  background-color: #40A5A2;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-container h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: regular;
  font-size: 1.25rem;
}
.inner-container span {
  font-family: regular;
  font-size: 0.875rem;
}

@keyframes rise {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(-10px);
    opacity: 1;
  }
}
@keyframes autoscroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50px);
  }
}
@media screen and (min-width: 768px) {
  .top-nav-bar {
    padding: 0.5rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-nav li {
    animation: none;
  }
  .info-container {
    display: block;
  }
  .info-container ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 0.5rem;
    color: #FFFFFF;
  }
  .info-container ul li {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    font-family: regular;
  }
  .info-container ul li i {
    font-size: 10px;
    color: #40A5A2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    height: 4px;
  }
  .info-container ul li div {
    height: 12px;
    width: 2px;
    background-color: #c4c4c4;
    margin-left: 0.5rem;
  }
  .main-nav {
    padding: 1.125rem 2.5rem;
  }
  .content-container {
    flex-direction: row;
    padding: 1.125rem 2.5rem;
    justify-content: center;
  }
  .text-container {
    justify-content: center;
  }
  .text-container h1 {
    font-size: 2.125rem;
  }
  .service-section {
    padding: 3rem 2.5rem;
  }
  .service-section .service-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-nav-list {
    gap: 2.5rem;
  }
  .content-container {
    padding: 5.1875rem 2.5rem;
    max-width: 1024px;
    margin: 0 auto;
  }
  .text-container {
    gap: 1.5rem;
  }
  .text-container h1 {
    font-size: 3.125rem;
  }
  .text-container span {
    font-size: 0.875rem;
    width: 23.125rem;
  }
  .form-container {
    gap: 1.5rem;
  }
  .service-container {
    max-width: 1024px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */